.main-content-calculators-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font: var(--subheading);
  margin: 3rem 1rem 0;
  color: var(--focus);
}

h2 {
  font: var(--heading);
  color: var(--base);
  margin: 0 1rem 2rem;
}

.calculator-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.tdee-calculator,
.rpe-calculator {
  flex: 0 0 80%;
}

.field-heading {
  font: var(--alt);
  color: var(--focus);
  margin-left: 1rem;
}

select,
.number-value {
  max-width: fit-content;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.error {
  border: 1px solid red;
}

.error-message {
  font: var(--alt);
  color: red;
  margin: 0 1rem 2rem;
}

.hidden {
  display: none;
}

.number-value {
  width: 7rem;
}

.number-value::-webkit-inner-spin-button,
.number-value::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.results {
  display: flex;
  justify-content: space-between;
  font: var(--alt);
  color: var(--focus);
  margin-left: 1rem;
  margin-right: 1rem;
}

.macros {
  display: flex;
  flex-direction: column;
}

.result-output {
  font: var(--copy);
  color: var(--base);
}

.rpe-box {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.lift-values {
  display: flex;
  flex-direction: column;
}

/* ---------- Loader TDEE calc ---------- */

.load-calc-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.load-calc {
  width: 3rem;
  height: 3rem;
  border: 0.4rem solid var(--decor);
  border-bottom-color: var(--focus);
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---------- Hover info calc ---------- */
.info-btn {
  border: none;
  background-color: transparent;
  position: relative;
}

.hover-icon {
  color: var(--base);
  position: relative;
}

.info-btn:focus::before,
.hover-icon:hover::before {
  content: attr(data-hover);
  font: var(--small);
  width: 150px;
  background-color: var(--white);
  border: 1px solid var(--base);
  padding: 1rem;
  box-shadow: -3px 3px 6px grey;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
