.main-content-calculators-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font: var(--subheading);
  margin: 3rem 1rem 0;
  color: var(--focus);
}

h2 {
  font: var(--heading);
  color: var(--base);
  margin: 0 1rem 2rem;
}

.calculator-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.tdee-calculator,
.rpe-calculator {
  flex: 0 0 80%;
}

.field-heading {
  font: var(--alt);
  color: var(--focus);
  margin-left: 1rem;
}

select,
.number-value {
  max-width: fit-content;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.error {
  border: 1px solid red;
}

.error-message {
  font: var(--alt);
  color: red;
  margin: 0 1rem 2rem;
}

.hidden {
  display: none;
}

.number-value {
  width: 7rem;
}

.number-value::-webkit-inner-spin-button,
.number-value::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.results {
  display: flex;
  justify-content: space-between;
  font: var(--alt);
  color: var(--focus);
  margin-left: 1rem;
  margin-right: 1rem;
}

.macros {
  display: flex;
  flex-direction: column;
}

.result-output {
  font: var(--copy);
  color: var(--base);
}

.rpe-box {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.lift-values {
  display: flex;
  flex-direction: column;
}

/* ---------- Hover info calc ---------- */
.info-btn {
  border: none;
  background-color: transparent;
}

.hover-icon {
  color: var(--base);
  position: relative;
}

.info-btn:focus::before,
.hover-icon:hover::before {
  content: attr(data-hover);
  font: var(--small);
  width: 150px;
  background-color: var(--white);
  border: 1px solid var(--base);
  padding: 1rem;
  box-shadow: -3px 3px 6px grey;
  position: absolute;
  top: 50%;
  left: 50;
  transform: translate(-50%, -50%);
  z-index: 1;
}
