body {
  box-sizing: border-box;
}

h1 {
  font: var(--subheading);
  margin: 3rem 1rem 0;
  color: var(--focus);
}

h2 {
  font: var(--heading);
  color: var(--base);
  margin: 0 1rem 2rem;
}

form {
  width: 85%;
  margin: 0 1rem;
}

span {
  font: var(--alt);
  color: var(--focus);
  display: block;
  margin-top: 1rem;
}

label {
  font-size: 0.9rem;
}

textarea,
.field {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid grey;
  padding: 0;
}

.field {
  height: 2rem;
}

.cta {
  width: 100%;
  margin-left: 0;
}

.warning {
  color: red;
}

.success-message {
  box-sizing: border-box;
  margin-top: 3rem;
  padding: 2rem;
}

.success-message p {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

.success-message a {
  color: var(--focus);
  font-size: 2rem;
  display: block;
  text-align: center;
  margin-top: 2rem;
}
