h1 {
  font: var(--heading);
  color: var(--base);
}

h2 {
  font: var(--h2);
  color: var(--base);
}

.slider-box {
  width: 80%;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
}

.slider-inner-box {
  overflow: hidden;
}

.track {
  display: inline-flex;
  transition: transform 1s;
  gap: 1rem;
  box-sizing: border-box;
}

.slider-card-box {
  width: 287px;
  height: 250px;
  flex-shrink: 0;
}

.slider-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.slider-card-img {
  background-position: center;
  background-size: cover;
  flex: 1;
}

.slider-card-info {
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--base);
}

.nav button {
  font-size: 3rem;
  background-color: transparent;
  color: var(--focus);
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev {
  left: -3.75rem;
  display: none;
}

.next {
  right: -3.75rem;
}
