h1 {
  font: var(--subheading);
  margin: 3rem 1rem 0;
  color: var(--focus);
}

h2 {
  font: var(--heading);
  color: var(--base);
  margin: 0 1rem 3rem;
}

h3 {
  color: var(--base);
}

.filter {
  margin-left: 1rem;
  font: var(--small);
}

input[type="search"],
.tag-selector {
  margin-left: 1rem;
  margin-bottom: 2rem;
  height: 2rem;
  border-color: var(--focus);
  font: var(--copy);
  font-size: 1rem;
  display: block;
}

.article-box {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem 2rem;
}

.ft-post-article,
.card-heading {
  flex: 0 0 100%;
  overflow: hidden;
}

.ft-post-box {
  text-decoration: none;
  color: var(--base);
  transition: all 0.5s;
  display: flex;
  flex-wrap: wrap;
}

.ft-post-box:hover,
.post-card:hover {
  filter: brightness(0.5);
}

.ft-post-img,
.post-img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  margin-left: 1rem;
}

.tags {
  margin-left: 1rem;
  margin-right: 0;
}

.post-card a {
  text-decoration: none;
}

.ft-post-box p,
.post-card p {
  margin: 0 1rem;
  max-width: 300px;
}

.articles-btn .cta {
  padding: 0.5rem 5rem;
  margin: 3rem auto;
}

.hidden {
  display: none;
}

/* ---------- While loading ---------- */

.ft-img-layout,
.post-img-layout {
  background-color: var(--decor);
  width: 300px;
  height: 150px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.flex-layout {
  display: flex;
  flex-wrap: wrap;
}

.tags-layout-box {
  display: flex;
}

.ft-tags-layout,
.tags-layout {
  background-color: var(--decor);
  width: 75px;
  height: 25px;
  margin: 1rem;
}

.post-img-layout {
  margin-top: 3rem;
}
