@media only screen and (max-width: 365px) {
  .intro-hero-section {
    max-width: 95%;
  }
}

@media only screen and (min-width: 700px) {
  .nav-menu {
    display: none;
  }

  nav {
    position: static;
    transform: translateY(0);
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 1600px;
  }

  main {
    max-width: 1600px;
    margin: 0 auto;
  }
}
