@media only screen and (min-width: 700px) {
  .nav-menu {
    display: none;
  }

  nav {
    position: static;
    transform: translateY(0);
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 1600px;
  }

  .main-content {
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 816px) and (max-width: 936px) {
  .tdee-calculator {
    flex: 0 0 380px;
  }

  .rpe-calculator {
    flex: 0 0 380px;
  }
}

@media only screen and (min-width: 1200px) {
  h1,
  h2 {
    margin-left: 3rem;
  }

  p {
    margin: 1rem 3rem;
  }

  .featured-img {
    max-width: 93%;
  }

  .slider {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
