h1 {
  font: var(--subheading);
  margin: 3rem 1rem 0;
  color: var(--focus);
}

h2 {
  font: var(--heading);
  color: var(--base);
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

h3 {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4rem;
}

.quote {
  font: var(--h2);
  color: var(--base);
  margin-top: 3rem;
}

.extra-info {
  display: flex;
  max-width: 95%;
  margin: auto;
}

.reading-time {
  color: var(--base);
  margin-left: auto;
  margin-right: 1rem;
}

figure {
  position: relative;
}

figure img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: filter 0.5s;
}

figure img:hover {
  filter: brightness(0.5);
  cursor: pointer;
}

.comment-box {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-top: 3rem;
}

/* ---------- Scroll to top button ---------- */

.to-top {
  border: none;
  padding: 1rem;
  background-color: var(--white);
  font-size: 2rem;
  color: var(--focus);
  position: sticky;
  bottom: 2rem;
  left: 85%;
  cursor: pointer;
  display: none;
}

/* ---------- Modal popup ---------- */
.modal-img {
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

.modal-img:hover {
  cursor: auto;
  filter: brightness(1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7000vh;
  background-color: var(--white);
  cursor: pointer;
}

.hidden {
  display: none;
}

/* ---------- Error ----------*/
.error-message {
  margin: auto;
  width: 100%;
  border: 1px solid red;
  text-align: center;
}
