/* ---------- Variables ---------- */

:root {
  /* ---------- Fonts ---------- */
  --copy: 1rem/1.5 "Noto Sans", sans-serif;
  --nav: small-caps 500 1.2rem "Noto Sans", sans-serif;
  --h1: 2.2rem "Oswald", sans-serif;
  --h2: 2rem "Oswald", sans-serif;
  --h3: 1.5rem "Oswald", sans-serif;
  --cta: small-caps 1.35rem "Oswald", sans-serif;
  --sub: small-caps 1.6rem "Oswald", sans-serif;
  --alt: small-caps 1.3rem "Oswald", sans-serif;
  --link: 500 1rem "Noto Sans", sans-serif;

  /* ---------- Colours ---------- */
  --white: #fff;
  --base: #121315;
  --primary: #44505d;
  --focus: #005996;
  --shade: #4f87ad;
  --decor: #e2e5e7;
}

/* ---------- Document level adjustments ----------*/

html {
  scroll-behavior: smooth;
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  font: var(--copy);
  height: 100%;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
}

main {
  flex: 1 0 auto;
}

footer {
  background-color: var(--decor);
  color: var(--base);
  text-align: center;
  padding: 0.75rem;
  flex-shrink: 0;
  margin-top: 3rem;
}

/* ---------- Navigation ----------*/

.logo-box {
  text-align: center;
}

.logo {
  width: 160px;
  height: 35px;
  padding: 1rem 0;
}

.nav-menu-box {
  text-align: center;
}

.nav-menu {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

nav {
  background-color: var(--decor);
  border-bottom: 2px solid var(--primary);
  position: absolute;
  width: 100%;
  transform: translateY(-200%);
  transition: transform 1s ease;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font: var(--nav);
  color: var(--base);
}

nav a:hover {
  background-color: var(--focus);
  color: var(--white);
}

.active {
  background-color: var(--focus);
  color: var(--white);
}

/* ---------- Headings & Copy ---------- */
h1,
h2 {
  margin-top: 3rem;
  margin-left: 2rem;
}

h3 {
  font: var(--h3);
  margin: 1rem;
}

p {
  font: var(--copy);
  color: var(--base);
  margin: 1rem 2rem;
}

.tags {
  font: var(--alt);
  color: var(--focus);
  margin-left: 1rem;
}

/* ---------- Featured section ---------- */
.quote {
  font: var(--h2);
  color: var(--base);
}

.featured-img {
  max-width: 95%;
  display: block;
  margin: auto;
}

/* ---------- Buttons ---------- */
.cta {
  font: var(--cta);
  background-color: var(--focus);
  color: var(--white);
  border: none;
  box-shadow: -3px 3px 6px var(--shade);
  margin: 3rem 1rem;
  cursor: pointer;
}
