/* ---------- Variables ---------- */

:root {
  /* ---------- Fonts ---------- */
  --copy: 1rem/1.2 "Noto Sans", sans-serif;
  --nav: small-caps 500 1.2rem "Noto Sans", sans-serif;
  --h1: 2.2rem "Oswald", sans-serif;
  --h2: 2rem "Oswald", sans-serif;
  --cta: 1.5rem "Oswald", sans-serif;
  --alt: small-caps 1.25 "Oswald", sans-serif;
  --link: 500 1rem "Noto Sans", sans-serif;

  /* ---------- Colours ---------- */
  --white: #fff;
  --base: #121315;
  --primary: #44505d;
  --focus: #005996;
  --shade: #4f87ad;
  --decor: #e2e5e7;
}

/* ---------- Document level adjustments ----------*/

html {
  scroll-behavior: smooth;
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  font: var(--copy);
  height: 100%;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
}

main {
  flex: 1 0 auto;
}

h1 {
  font: var(--h1);
  color: var(--base);
  background-color: var(--decor);
  margin: 0;
  padding: 0 1rem;
}

p {
  color: var(--base);
  background-color: var(--decor);
  margin: 0;
  padding: 0.25rem 1rem;
}

footer {
  background-color: var(--decor);
  color: var(--base);
  text-align: center;
  padding: 0.75rem;
  flex-shrink: 0;
}

/* ---------- Navigation ----------*/

.logo-box {
  text-align: center;
}

.logo {
  width: 160px;
  height: 35px;
  padding: 1rem 0;
}

.nav-menu-box {
  text-align: center;
}

.nav-menu {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

nav {
  background-color: var(--decor);
  border-bottom: 2px solid var(--primary);
  position: absolute;
  width: 100%;
  transform: translateY(-200%);
  transition: transform 1s ease;
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font: var(--nav);
  color: var(--base);
}

nav a:hover {
  background-color: var(--focus);
  color: var(--white);
}

.active {
  background-color: var(--focus);
  color: var(--white);
}

/* ---------- Hero section ---------- */

.intro-hero-section {
  background-image: url(/assets/images/quan-le-B_swNGkjLBs-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  max-width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
